$pane-left-width: 125px
$nav-item-count: 6
$header-height: 50px
$footer-height: 2em

body,html
	height: 100%

	.header
		height: $header-height

	.line-under
		border-bottom: 1px solid lightgrey
		margin: 5px
	.line-right
		border-right: 1px solid lightgrey
		margin: 0 5px

	.max-content
		height: 100%
		width: 100%

	.map-container
		height: 100%
		#map
			height: 100%

	.pane-left
		position: absolute
		margin: 0px
		left: 0px
		right: auto
		top: 50px
		+calc(height, '100% - 50px')
		z-index: 0
		width: $pane-left-width
		display: block
		overflow-y: scroll

	.pane-right
		position: absolute
		margin: 0px
		left: $pane-left-width
		right: 0px
		top: 50px
		height: calc(100% - 50px)
		height: -moz-calc(100% - 50px)
		height: -webkit-calc(100% - 50px)
		height: -o-calc(100% - 50px)
		z-index: 0
		display: block
		overflow-y: scroll


	.nav-div-stacked
		height: 100%
		background-color: silver
		>a div 	/* Children are the clickable areas */
			position: relative
			overflow: auto
			height: calc(100% / #{$nav-item-count})
			min-height: 40px
			max-height: 80px
			width: 100%
			color: brown
			&:hover
				background-color: lightgray
				color: black
			span
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				&:before
					padding-right: 5px 		/* Space between glyphicon and text */
					font-size: 32px