<div class="container-fluid">
	<!-- Animated via animation.css so cannot use animations with transform/translate if using that to position this image -->
  <img class="animated fadeIn center-img" id="dbc-portal" style="height:90%; min-height:600px;" ng-src="images/DriveBC_Portal_04.png">
  <div id="psa_1" class="animated fadeInLeft">
  	<a href="http://bcwildfire.ca/hprScripts/WildfireNews/OneFire.asp" target="_blank">
  		<img id="wildfire" src="images/Wildfires_button.png" onmouseover="swapImg('wildfire', 'images/wildfires_button_RO.png')" onmouseout="swapImg('wildfire', 'images/wildfires_button.png')">
  	</a>
</div>