<!-- Radio buttons and any associated select dropdowns. -->
<span class="filter-header col-md-2">Filter By:</span>
<ul class="col-md-10 one-line">
<!-- second row of filtering and select boxes should go in here -->		
	<li ng-repeat="item in radioFilterData.filterDefs" class="one-block">
		<label>
			<input type="radio" name="radioBtnFilter" ng-model="radioFilterData.model" ng-value="item.value" ng-click="updateViewFilter(item.id)"/>
			{{ item.label }}
		</label>
	</li>
</ul>

<div class="col-md-offset-2" id="select-panel">
	<div ng-repeat="selectList in radioFilterData.filterDefs" ng-if="selectList.selected">
		<div ng-repeat="selected in selectList.selected" class="one-line" ng-show="radioFilterData.model == selectList.id">
			<div ng-hide="$index > 0 && selectList.selected[$index-1].name == ''">
				<label>{{ selectList.prompt }} 
					<select 
				 		ng-options="option.name for option in selectList.available track by option.name"
						ng-model="selectList.selected[$index]"
						ng-change="updateViewFilter(radioFilterData.model)">
					</select> 
					<!-- Delete button to remove selection -->
					<input type="button" value="Delete" ng-click="deleteSelect(selectList.id, $index)" ng-hide="selectList.selected[$index].name == ''">
				</label>
			</div>
		</div>
	</div>
</div>